
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color:lightpink;
    color: white;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:40px;
}

input, label,button {
    align-items: center;
}
